body {
  margin: 0;
  padding: 0;
}
.Home {
  background: url(../../../img/starwars-home.jpg) 0 0 repeat #000;
  background-size: 100%;
  padding: 10px;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;

}
