.Planets {
  padding: 10px 60px;
  flex-direction: column;

  &-Title {
    color: white;
    padding: 10px;
  }
  &-Container {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &-Load-Img {
    width: 90px;
    height: 90px;
  }
}
