@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
* {
  margin: 0;
  padding: 0;
}

.Navbar {
  font-family: arial, helvetica, sans-serif;
  font-size: 20px;
  background: url(../../../img/starwars-home.jpg) 0 0 repeat #000;
  text-align: center;
  font-family: "Raleway", Arial, sans-serif;
  text-transform: uppercase;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  z-index: 11;

  &-list ul {
    float: none;
    list-style: outside none none;
    background-color: transparent;
  }

  & li {
    padding: 2px 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    margin: 0 1.5em;
    padding: 0;
  }
  & li:hover {
    color: #fdf253;
  }
}
